DATABASE_URL="postgresql://admin_local:local_dev_password@localhost:5432/seletta_local?schema=public"
SHADOW_DATABASE_URL="postgresql://admin_local:local_dev_password@localhost:5432/seletta_shadow?schema=public"
PORT=3333
CORS_ORIGIN="http://localhost:8080"
FIREBASE_PROJECT_ID="seletta-imobiliaria"
